.layout {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
}

.main {
    flex: 1;
    background: var(--color-bg-primary);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}