.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #f9fafb;
}

.main {
    flex: 1;
    background: #f9fafb;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
